* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.navoption {
  color: blue;
  display: flex;
  gap: 5px;
}
.box {
  display: flex;
  gap: 10px;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.4);
}
.main_one,
.main_two,
.main_three {
  text-align: center;
}
.masterCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_three {
  margin-top: 20px;
}
.footer_one {
  margin-bottom: 15px;
}
.main_two {
  border: 1.6px solid orange;
  width: 50vw;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.4);
}
.first_ul {
  gap: 80px;
}
.main_one {
  margin: 10px 0;
}
.main_data {
  margin-bottom: 20px;
}
.bttn1 {
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-weight: bolder;
}

.card_details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  margin-left: 10px;
}
.btn2 {
  background-color: #02afd6;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 25px;
  font-weight: bolder;
  position: relative;
  left: 40px;
  /* margin-left: px; */
}
.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  background-color: white;
}
.two {
  display: flex;
  justify-content: space-around;
  background-color: #e5f8fd;
  /* width: 25vw; */
}
.test {
  width: 15vw;
}
.yield {
  position: relative;
  left: -60px;
}
.maindiv {
  background: linear-gradient(
    to bottom,
    #fff8ee 0%,
    #fff8ee 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}
.card1,
.card2 {
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  margin: 20px 0;
  text-align: start;
}
.mascot {
  position: absolute;
  right: 15%;
  top: 25%;
  width: 200px;
}
@media screen and (max-width: 2561px) {
  .mascot {
    position: absolute;
    right: 19%;
    top: 12%;
    width: 200px;
  }
  .test {
    width: 15vw;
  }
}
@media screen and (max-width: 1921px) {
  .mascot {
    position: absolute;
    right: 15%;
    top: 25%;
    width: 200px;
  }
  .test {
    width: 15vw;
  }
}
@media screen and (max-width: 1441px) {
  .mascot {
    position: absolute;
    right: 15%;
    top: 12%;
    width: 200px;
  }
  .test {
    width: 18vw;
  }
}
@media screen and (max-width: 1025px) {
  .first_ul {
    gap: 20px;
  }
  .main_two {
    width: 80vw;
    margin: auto;
  }
  .mascot {
    position: absolute;
    right: -6%;
    top: 12%;
    width: 200px;
  }
  .test {
    width: 25vw;
  }
  .maindiv {
    width: 105vw;
  }
}
@media screen and (max-width: 769px) {
  .main_two {
    width: 95vw;
    margin: auto;
  }
  .mascot {
    display: none;
  }
  .test {
    width: 25vw;
  }
  nav li {
    font-size: 11px;
  }
}
@media screen and (max-width: 426px) {
  .masterCard {
    display: block;
  }
  .test {
    width: 60vw;
  }
  .bonds {
    margin: 20px 0;
  }
  nav {
    display: block;
    text-align: center;
  }
  .box,
  ul {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
